README.md
CLAUDE.md
arch_scripts
{{- if ne .chezmoi.hostname "Emilys-MBP" }}
.config/fish/conf.d/macbook.fish
{{- end }}
{{- if eq .chezmoi.os "darwin" }}
.config/waybar/
.config/niri/
{{- end }}

{{- if eq .chezmoi.hostname "work" }}
.ssh/config
.gitconfig
.config/qutebrowser
.config/1Password
{{- end }}
