[user]
	name = Emily Horsman
	email = me@emilyhorsman.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIExD7Y8hfpHA8qCXxhWxMRqIAYTMXpAO/ZhAWw8JRHhv
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	pager = delta --paging=always
[color]
	ui = auto
[alias]
	a  = add
	c  = commit -m
	cm = commit
	l  = log --pretty=format:\"%h - %ar | %s%d [%an]\" --graph
	b  = branch -v
	cb = rev-parse --abbrev-ref HEAD
	s  = status
	co = checkout
	ss = status -s
	d  = diff
	ds = diff --staged
	amend = commit --amend --no-edit
	amendm = commit --amend
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[interactive]
	diffFilter = delta --color-only
[add "interactive"]
	useBuiltin = false
[include]
	path = ~/.config/delta/themes.gitconfig
[delta]
	features = catppuccin-mocha catppuccin-latte
	navigate = true
	pager = moar -mousemode scroll
	side-by-side = true
	true-color = always
[merge]
	tool = nvimdiff
[mergetool]
	prompt = false
[mergetool "nvimdiff"]
	cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[gpg]
	format = ssh
[gpg "ssh"]
{{- if eq .chezmoi.os "linux" }}
	program = /opt/1Password/op-ssh-sign
{{- else if eq .chezmoi.os "darwin" }}
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
{{- end }}
[commit]
	gpgsign = true
