* {
	font-family: 'JetBrains Mono', monospace;
	font-weight: 600;
	font-size: 14px;
}

window#waybar {
	background-color: rgba(23, 41, 83, 0.8);
	color: #ffffff;
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
}

#clock,
#bluetooth,
#cpu,
#temperature,
#memory,
#network,
#wireplumber,
#custom-memory,
#custom-gpu,
#custom-upates,
#mpd {
	padding: 5px 12px;
}

#temperature {
	padding-left: 0;
}
#cpu { padding-right: 0; }
