local lazypath = vim.fn.stdpath("data") .. "/lazy/lazy.nvim"
if not vim.loop.fs_stat(lazypath) then
  vim.fn.system({
    "git",
    "clone",
    "--filter=blob:none",
    "https://github.com/folke/lazy.nvim.git",
    "--branch=stable",
    lazypath,
  })
end
vim.opt.rtp:prepend(lazypath)

require("lazy").setup({
  {
    'nvim-telescope/telescope.nvim',
    tag = '0.1.5',
    dependencies = { 'nvim-lua/plenary.nvim' }
  },
  {
    'nvim-telescope/telescope-fzf-native.nvim',
    build = 'make'
  },
  {
    "catppuccin/nvim",
    name = "catppuccin",
    priority = 1000,
    config = function()
      local catppuccin = require("catppuccin")
      catppuccin.setup({
        flavour = flavor,
        background = {
          light = "latte",
          dark = "mocha",
        },
      })

      vim.cmd.colorscheme "catppuccin"
    end,
  },
  {
    "nvim-tree/nvim-tree.lua",
    version = "*",
    lazy = false,
    dependencies = {
      "nvim-tree/nvim-web-devicons",
    },
    config = function()
      require("nvim-tree").setup({
        sort = {
          sorter = "case_sensitive",
        },
        view = {
          width = 30,
        },
        renderer = {
          group_empty = true,
        },
        filters = {
          dotfiles = false,
        },
      })
    end,
  },
  {
    "sindrets/diffview.nvim",
    dependencies = { "nvim-lua/plenary.nvim" },
    config = function()
      require("diffview").setup({
        diff_binaries = false,
        enhanced_diff_hl = false,
        git_cmd = { "git" },
        use_icons = true,
      })
    end,
  },
  {
    "nvim-treesitter/nvim-treesitter",
    build = ":TSUpdate",
    config = function()
      require("nvim-treesitter.configs").setup({
        ensure_installed = { "markdown", "markdown_inline", "norg" },
        highlight = {
          enable = true,
        },
      })
    end,
  },
  {
    "MeanderingProgrammer/render-markdown.nvim",
    dependencies = { "nvim-treesitter/nvim-treesitter", "nvim-tree/nvim-web-devicons" },
    ft = { "markdown" },
    config = function()
      require('render-markdown').setup()
    end,
  },
  {
    "f-person/auto-dark-mode.nvim",
    opts = {
      update_interval = 3000,
      set_dark_mode = function()
        require("catppuccin").setup({ flavour = "mocha" })
        vim.cmd.colorscheme("catppuccin")
      end,
      set_light_mode = function()
        require("catppuccin").setup({ flavour = "latte" })
        vim.cmd.colorscheme("catppuccin")
      end,
    },
  },
  -- {
  --   "mcauley-penney/tidy.nvim",
  --   event = { "BufWritePre" },
  --   config = function()
  --     require("tidy").setup({
  --       filetype_exclude = { "markdown", "diff" }
  --     })
  --   end,
  -- },
  {
    "mrjones2014/smart-splits.nvim",
    config = function()
      require("smart-splits").setup({
        multiplexer_integration = "zellij",
      })
    end,
  },
  {
    "bngarren/checkmate.nvim",
    ft = "markdown",
    config = function()
      require("checkmate").setup({
        -- Archive completed tasks to bottom
        archive = {
          enabled = true,
          position = "bottom",
          section_header = "## Completed",
        },
      })
    end,
  },
  {
    "nvim-neorg/neorg",
    ft = "norg",
    dependencies = { "nvim-lua/plenary.nvim" },
    config = function()
      require("neorg").setup({
        load = {
          ["core.defaults"] = {},
          ["core.concealer"] = {},
          ["core.dirman"] = {
            config = {
              workspaces = {
{{- if eq .chezmoi.hostname "Emilys-MBP" }}
                notes = "/Volumes/home/Documents/notes",
{{- else }}
                notes = "~/Documents/notes",
{{- end }}
              },
              default_workspace = "notes",
            },
          },
        },
      })
    end,
  },
  {
    "milanglacier/minuet-ai.nvim",
    dependencies = { "nvim-lua/plenary.nvim" },
    config = function()
      require("minuet").setup({
        provider = "ollama",
        providers = {
          ollama = {
            model = "gemma2:4b",
            end_point = "http://localhost:11434/api/chat",
            name = "Ollama",
            stream = true,
            optional = {
              max_tokens = 256,
              temperature = 0.7,
            },
          },
        },
        virtualtext = {
          auto_trigger = false,
        },
        debounce = 500,
        throttle = 1000,
      })
      
      -- Direct keymaps using the escape sequences from Ghostty
      vim.keymap.set("i", "<Esc>[25~", function()
        require("minuet.virtualtext").action.accept()
      end, { desc = "Accept AI completion (Super+Tab)" })
      
      vim.keymap.set("i", "<Esc>[26~", function()
        require("minuet.virtualtext").action.next()
      end, { desc = "Next AI completion (Super+])" })
      
      vim.keymap.set("i", "<Esc>[27~", function()
        require("minuet.virtualtext").action.prev()
      end, { desc = "Previous AI completion (Super+[)" })
      
      vim.keymap.set("i", "<Esc>[28~", function()
        require("minuet.virtualtext").action.dismiss()
      end, { desc = "Dismiss AI completion (Super+e)" })
      
      vim.keymap.set("i", "<Esc>[29~", function()
        require("minuet.virtualtext").action.accept_line()
      end, { desc = "Accept line AI completion (Super+l)" })
      
      vim.keymap.set("i", "<Esc>[30~", function()
        require("minuet").complete()
      end, { desc = "Trigger AI completion (Super+y)" })
    end,
  }
})
